@page
@model ProyectoCiclo3.App.Frontend.Pages.FormAvionModel
@{
    var avion = Model.Avion;
}

 
<div class="text-center">
<form method="POST">
  
  <label for="text" class="form-label">Marca:</label>
  <input type="text" class="form-control" id="Marca"  placeholder="Marca" asp-for="@avion.Marca" Required>
  <label for="text" class="form-label">Modelo:</label>
  <input type="number" class="form-control" id="Modelo"  placeholder="Modelo" asp-for="@avion.Modelo" Required>
  <label for="text" class="form-label">Numero Asientos:</label>
  <input type="number" class="form-control" id ="NumeroAsiento"  placeholder="NumeroAsientos" asp-for="@avion.NumeroAsiento" Required>
  <label for="text" class="form-label">Numero Baños:</label>
  <input type="number" class="form-control" id ="NumeroBanos"  placeholder="NumeroBanos" asp-for="@avion.NumeroBanos" Required>
  
  <label for="text" class="form-label">Capacidad Max:</label>
  <input type="number" class="form-control" id="CapacidadMax"  step="any" placeholder="CapacidadMax"  asp-for="@avion.CapacidadMax" Requiered>
  
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>
