@page
@model ProyectoCiclo3.App.Frontend.Pages.ListAvionModel
@{
}


<h1>Listado de Aviones</h1>
<table class="table">
    <thead>
        <th>Id</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Numero de asiento</th>
        <th>Numero Baños</th>
        <th>Capacidad Max</th>
    </thead>
 @foreach (var avion in Model.Aviones)
    
    {        
                    
            <tr>    
            <td>@avion.id</td>
            <td>@avion.Marca </td>
            <td>@avion.Modelo </td>
            <td>@avion.NumeroAsiento</td>
            <td>@avion.NumeroBanos</td>
            <td>@avion.CapacidadMax</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-avionId="@avion.id"><i class="fas fa-adjust"></i>Ver</a>
               <a class="btn btn-info" asp-page="./Edit" asp-route-avionId="@avion.id"><i class="fas fa-adjust"></i>Editar</a>
            
            <form method="POST">
            <input type="number" class="d-none" id="id" asp-for="@avion.id">
            <button type="submit"class="btn btn-danger">Eliminar</button>
            </form>

              </td>
        </tr>
     
    }
</table>
